{% load i18n %}

<form class="basic-form mb-1" method="post" role="form">
  {% csrf_token %}
  <div class="text-center text-danger m-3">{{ form.non_field_errors }}</div>
  <div class="controls text-center">
    {% for field in form %}
    <div class="row justify-content-center">
      <div class="col-md-4 mb-4">
        <div class="form-group"> <label class="mr-3" for="{{ field.id_for_label }}">{{ field.label }}</label>{{ field }}
          {% for error in field.errors %}
          <div class="help-block with-errors text-danger">{{ error|safe }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="row justify-content-center">
      <div class="col-md-12"> <input type="submit" class="btn btn-success btn-send" value="{% translate 'Send'%}"> </div>
    </div>
  </div>
</form>