{% load static %}
{% load i18n %}

<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container box_1620">
        <!-- Brand and toggle get grouped for better mobile display -->{% with request.resolver_match.view_name as view_name %}
        <div class="nav-item {% if view_name == 'homepage:home' %}active{% endif %}"> <a class="navbar-brand logo_h" href=" {% url 'homepage:home' %} "><img
                        src="{% static 'img/svg/cat-logo.svg'%}" width="88" alt=""></a> </div> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav justify-content-center">
            <li class="nav-item {% if view_name == 'homepage:home' %}active{% endif %}"><a class="nav-link" href=" {% url 'homepage:home' %} "><span>{% translate 'Home' %}</span></a></li>
            <li class="nav-item {% if view_name == 'catalog:item_list' %}active{% endif %} "><a class="nav-link" href=" {% url 'catalog:item_list' %} "><span>{% translate 'Catalog' %}</span></a></li>
            <li class="nav-item {% if view_name == 'about:description' %}active {% endif %}"><a class="nav-link" href=" {% url 'about:description' %} "><span>{% translate 'About' %}</span></a></li>
            <li class="nav-item {% if view_name == 'feedback:feedback' %}active {% endif %}"><a class="nav-link" href=" {% url 'feedback:feedback' %} "><span>{% translate 'Feedback' %}</span></a></li>
            {% if user.is_superuser %}
            <li class="nav-item"><a href="{% url 'admin:index' %}" type="button" class="nav-link admin-btn"><span>{% translate 'Admin' %}</span></a></li>
            {% endif %}
          </ul> {% endwith %}
          <ul class="nav navbar-nav navbar-right navbar-social">
            {% if request.user.is_authenticated %}
              <li><a class="btn btn-primary" href="{% url 'users:logout' %}">{% translate 'Logout' %}</a></li>
            {% else %}
              <li><a class="btn btn-primary" href="{% url 'users:login' %}">{% translate 'Login' %}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
