{% load static %}
{% load i18n %}

<div class="single-recent-blog-post card-view p-3">
  <div class="thumb"><img class="card-img rounded-0" src="{{ item.main_image.image.url }}" alt="#">
  </div>
  <div class="details mt-20">
    <a href="{% url 'catalog:item_detail' id=item.id %}">
      <h3>{{ item.name }}</h3>
    </a>
    {% with request.resolver_match.view_name as view_name %}
      {% if view_name != 'catalog:item_list' %}<p class="tag-list-inline">Category: <a href="#">{{ item.category.name }}</a></p>{% endif %}
    {% endwith %}
    <div class="card-text">
      <p>{{ item.text|safe|truncatewords:10 }}</p>
    </div>
    <p class="tag-list-inline">{% translate 'Tags' %}: {% for tag in item.tags.all %}{% if forloop.last %}<a href="#">{{ tag.name }}</a> {% else %} <a href="#">{{ tag.name }}</a>, {% endif %} {% endfor %}
    <div class="button__wrapper">
    <a class="button" href="{% url 'catalog:item_detail' id=item.id %}">Read More <i class="ti-arrow-right"></i></a></div>
  </div>
</div>