{% load static %}
{% load i18n %}

<!-- Start Blog Post Siddebar -->
<div class="col-lg-4 sidebar-widgets">
  <div class="widget-wrap">
    <div class="single-sidebar-widget post-category-widget">
      <h4 class="single-sidebar-widget__title">{% translate 'Interesting offers ' %}</h4>
      <ul class="cat-list mt-20">
        <li>
          <a href="{% url 'catalog:new_item_list'%}" class="d-flex justify-content-between">
            <p>{% translate 'New' %}</p>
          </a>
        </li>
        <li>
          <a href="{% url 'catalog:friday_item_list'%}" class="d-flex justify-content-between">
            <p>{% translate 'Friday' %}</p>
          </a>
        </li>
        <li>
          <a href="{% url 'catalog:unchecked_item_list'%}" class="d-flex justify-content-between">
            <p>{% translate 'Unchecked' %}</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="single-sidebar-widget newsletter-widget">
      <h4 class="single-sidebar-widget__title">{% translate 'Newsletter' %}</h4>
      <div class="form-group mt-30">
        <div class="col-autos"> <input type="text" class="form-control" placeholder="Введите email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'"> </div>
      </div> <button class="bbtns d-block mt-20 w-100">{% translate 'Send' %}</button>
    </div>
    <div class="single-sidebar-widget newsletter-widget">
      <h4 class="single-sidebar-widget__title">{% translate 'List of users ' %}</h4>
      <div class="form-group mt-30">
      </div><a href="{% url 'users:users_list' %}" class="bbtns d-block mt-20 w-100 text-center">{% translate 'Look' %}</a>
    </div>
    <div class="single-sidebar-widget post-category-widget">
      <h4 class="single-sidebar-widget__title">{% translate 'Category' %}</h4>
      <ul class="cat-list mt-20">
        <li>
          <a href="#" class="d-flex justify-content-between">
            <p>Technology</p>
            <p>(03)</p>
          </a>
        </li>
        <li>
          <a href="#" class="d-flex justify-content-between">
            <p>Software</p>
            <p>(09)</p>
          </a>
        </li>
        <li>
          <a href="#" class="d-flex justify-content-between">
            <p>Lifestyle</p>
            <p>(12)</p>
          </a>
        </li>
        <li>
          <a href="#" class="d-flex justify-content-between">
            <p>Shopping</p>
            <p>(02)</p>
          </a>
        </li>
        <li>
          <a href="#" class="d-flex justify-content-between">
            <p>Food</p>
            <p>(10)</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="single-sidebar-widget popular-post-widget">
      <h4 class="single-sidebar-widget__title">{% translate 'Our Favorites'%}</h4>
      <div class="popular-post-list">
        <div class="single-post-list">
          <div class="thumb"> <img class="card-img rounded-0" src="{% static 'img/plug.jpg'%}" alt="#">
            <ul class="thumb-info">
              <li><a href="#">Adam Colinge</a></li>
              <li><a href="#">Dec 15</a></li>
            </ul>
          </div>
          <div class="details mt-20">
            <a href="#">
              <h6>Accused of assaulting flight attendant miktake alaways</h6>
            </a>
          </div>
        </div>
        <div class="single-post-list">
          <div class="thumb"> <img class="card-img rounded-0" src="{% static 'img/plug.jpg'%}" alt="#">
            <ul class="thumb-info">
              <li><a href="#">Adam Colinge</a></li>
              <li><a href="#">Dec 15</a></li>
            </ul>
          </div>
          <div class="details mt-20">
            <a href="#">
              <h6>Tennessee outback steakhouse the worker diagnosed</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="single-sidebar-widget tag_cloud_widget">
      <h4 class="single-sidebar-widget__title">{% translate 'Popular tags'%}</h4>
      <ul class="list">
        <li> <a href="#">project</a> </li>
        <li> <a href="#">love</a> </li>
        <li> <a href="#">technology</a> </li>
        <li> <a href="#">travel</a> </li>
        <li> <a href="#">software</a> </li>
        <li> <a href="#">life style</a> </li>
        <li> <a href="#">design</a> </li>
        <li> <a href="#">illustration</a> </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Blog Post Siddebar -->