{% extends 'layouts/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
<title>{% translate 'Fluffy'%} {{ item.name }}</title>
{% endblock %}

{% block content %}
<div class="blog-post-area section-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="main_blog_details"> <div class="image__wrapper"><img class="img-fluid card-img" src="{{ item.main_image.image.url }}" alt=""> <a class="btn-reply" href="{% url 'download:download_image' item.main_image.image.url %}">Скачать картинку</a> </div>
            <div class="card__name">
                <h4 class="detail__title">{{ item.name }}</h4>
            </div>
          <div class="user_details">
            <div class="float-left"> <a href="#">Get to know him better</a> <a href="#">Pick up a pet</a> </div>
            <div class="float-right mt-sm-0 mt-3">
            </div>
          </div>
          <div class="text">
            {{ item.text|safe }}
          </div>
          <h3 class="gallery__name">
            Gallery
          </h3>
          <div class="gallery">
            {% for card in item.gallery_images.all %}
              <div class="gallery__wrapper">
                <div class="gallery__items">
                  <h5 class="gallery__title">
                    title - {{ card.name }}
                  </h5>
                  <img class="card-img gallery__image" src="{{ card.image.url }}" alt="#" class="gallery__image">
                </div>
                <a class="btn-reply" href="{% url 'download:download_image' item.main_image.image.url %}">Скачать картинку</a>
              </div>
            {% endfor %}
          </div>
        </div>
          <div class="rating row col-12 mt-4">
            <div class="h4 d-inline col-6">
              {% translate "Average user rating:" %}
              {{ average_rate_value }}<br>{{ average_rating_name }}<br>
              <br>
              {% translate "Number of ratings:" %}
              {{ count_grades }}
            </div>

            {% if user.is_authenticated %}
            <div class="d-inline col-6">
            <form method="post" class="block">
              {% csrf_token %}
              <div>
                {% for field in form %}
                {{ field.widget.attrs }}
                {% if not field.field.disabled  %}
                <div class="form-group">
                  <label class="font-weight-bold"
                         for="{{ field.id_for_label }}">
                    {{ field.label }}</label>
                  {{ field }}
                  {% if field.errors %}
                  <div class="text-danger">
                    {% translate 'Errors' %}
                    {{ field.errors|safe }}
                  </div>
                  {% endif %}

                  <div>{{ field.help_text }}</div>
                  {% endif %}
                </div>
                {% endfor %}
              </div>

              <div class="col-12 text-center">
                <input type="submit" value="{% translate 'Save' %}"
                       class="btn btn-primary">
              </div>
            </form>
            </div>
            {% endif %}
          </div>

      </div>
      <!-- Start Blog Post Siddebar -->{% include 'include/sidebar.html' %}
      <!-- End Blog Post Siddebar -->
    </div>
  </div>
</div> {% endblock %}