{% extends 'layouts/layout.html' %}
{% load static %}

{% block title %}
<title>Пушистик {{ item.id }}</title>
{% endblock %}

{% block content %}
<div class="blog-post-area section-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="main_blog_details"> <img class="img-fluid card-img" src="{{ item.main_image.image.url }}" alt="">
          <a href="#">
            <h4 class="detail__title">{{ item.name }}</h4>
          </a>
          <div class="user_details">
            <div class="float-left"> <a href="#">Get to know him better</a> <a href="#">Pick up a pet</a> </div>
            <div class="float-right mt-sm-0 mt-3">
              <div class="media">
                <div class="media-body">
                  <p>12 Dec, 2017 11:21 am</p>
                </div>
                <div class="d-flex"> <img width="42" height="42" src="{% static 'img/plug.jpg'%}" alt=""> </div>
              </div>
            </div>
          </div>
          <div class="text">
            {{ item.text|safe }}
          </div>
          <h3 class="gallery__name">
            Gallery
          </h3>
          <div class="gallery">
            {% for card in item.gallery_images.all %}
              <div class="gallery__wrapper">
                <div class="gallery__items">
                  <h5 class="gallery__title">
                    title - {{ card.name }}
                  </h5>
                  <img class="card-img gallery__image" src="{{ card.image.url }}" alt="#" class="gallery__image">
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="news_d_footer flex-column flex-sm-row"> <a href="#"><span class="align-middle mr-2"><i class="ti-heart"></i></span>Lily and 4 people
                            like this</a> <a class="justify-content-sm-center ml-sm-auto mt-sm-0 mt-2" href="#"><span
                                class="align-middle mr-2"><i class="ti-themify-favicon"></i></span>06 Comments</a> </div>
        </div>
        <div class="comments-area">
          <h4>05 Comments</h4>
          <div class="comment-list">
            <div class="single-comment justify-content-between d-flex">
              <div class="user justify-content-between d-flex">
                <div class="thumb"> <img src="{% static 'img/plug.jpg'%}" width="42" height="42" alt=""> </div>
                <div class="desc">
                  <h5><a href="#">Emilly Blunt</a></h5>
                  <p class="date">December 4, 2017 at 3:12 pm </p>
                  <p class="comment"> Never say goodbye till the end comes! </p>
                </div>
              </div>
              <div class="reply-btn"> <a href="" class="btn-reply text-uppercase">reply</a> </div>
            </div>
          </div>
          <div class="comment-list left-padding">
            <div class="single-comment justify-content-between d-flex">
              <div class="user justify-content-between d-flex">
                <div class="thumb"> <img src="{% static 'img/plug.jpg'%}" width="42" height="42" alt=""> </div>
                <div class="desc">
                  <h5><a href="#">Elsie Cunningham</a></h5>
                  <p class="date">December 4, 2017 at 3:12 pm </p>
                  <p class="comment"> Never say goodbye till the end comes! </p>
                </div>
              </div>
              <div class="reply-btn"> <a href="" class="btn-reply text-uppercase">reply</a> </div>
            </div>
          </div>
          <div class="comment-list left-padding">
            <div class="single-comment justify-content-between d-flex">
              <div class="user justify-content-between d-flex">
                <div class="thumb"> <img src="{% static 'img/plug.jpg'%}" width="42" height="42" alt=""> </div>
                <div class="desc">
                  <h5><a href="#">Annie Stephens</a></h5>
                  <p class="date">December 4, 2017 at 3:12 pm </p>
                  <p class="comment"> Never say goodbye till the end comes! </p>
                </div>
              </div>
              <div class="reply-btn"> <a href="" class="btn-reply text-uppercase">reply</a> </div>
            </div>
          </div>
          <div class="comment-list">
            <div class="single-comment justify-content-between d-flex">
              <div class="user justify-content-between d-flex">
                <div class="thumb"> <img src="{% static 'img/plug.jpg'%}" width="42" height="42" alt=""> </div>
                <div class="desc">
                  <h5><a href="#">Maria Luna</a></h5>
                  <p class="date">December 4, 2017 at 3:12 pm </p>
                  <p class="comment"> Never say goodbye till the end comes! </p>
                </div>
              </div>
              <div class="reply-btn"> <a href="" class="btn-reply text-uppercase">reply</a> </div>
            </div>
          </div>
          <div class="comment-list">
            <div class="single-comment justify-content-between d-flex">
              <div class="user justify-content-between d-flex">
                <div class="thumb"> <img src="{% static 'img/plug.jpg'%}" width="42" height="42" alt=""> </div>
                <div class="desc">
                  <h5><a href="#">Ina Hayes</a></h5>
                  <p class="date">December 4, 2017 at 3:12 pm </p>
                  <p class="comment"> Never say goodbye till the end comes! </p>
                </div>
              </div>
              <div class="reply-btn"> <a href="" class="btn-reply text-uppercase">reply</a> </div>
            </div>
          </div>
        </div>
        <div class="comment-form">
          <h4>Напишите комментарий если знакомы с питомцем =)</h4>
          <form>
            <div class="form-group form-inline">
              <div class="form-group col-lg-6 col-md-6 name"> <input type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'"> </div>
              <div class="form-group col-lg-6 col-md-6 email"> <input type="email" class="form-control" id="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'"> </div>
            </div>
            <div class="form-group"> <input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'"> </div>
            <div class="form-group"> <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea> </div> <a href="#" class="button submit_btn">Post Comment</a> </form>
        </div>
      </div>
      <!-- Start Blog Post Siddebar -->{% include 'include/sidebar.html' %}
      <!-- End Blog Post Siddebar -->
    </div>
  </div>
</div> {% endblock %}