{% extends 'layouts/layout.html' %}
{% load static %}

{% block title %}
<title>Пушистики дом</title>
{% endblock %}

{% block content %}
<section class="mb-30px">
  <div class="container">
    <div class="hero-banner-main">
      <div class="hero-banner__content">
        <h3>Забота & любовь</h3>
        <h1>Для всех зверушек</h1>
      </div>
    </div>
  </div>
</section>
<!--================ Start Blog Post Area =================-->
<div class="blog-post-area section-margin mt-4">
  <div class="container">
    <section class="row">
      <div class="col-lg-8">
        {% for item in items %}
          {% include 'include/item_card.html' %}
        {% endfor %}
      </div> {% include 'include/sidebar.html' %} </section>
  </div>
</div>
{% endblock %}